In [15]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
from pathlib import Path

import numpy as np
import pandas as pd
from forecasting import SalesForecaster

In [ ]:
np.zeros((10, 10)).replace(0, 1e-6)

AttributeError: 'numpy.ndarray' object has no attribute 'replace'

In [ ]:
forecaster = SalesForecaster()

In [ ]:
forecaster.prepare_data(data_folder=Path("../data/"), store_id="STORE_1")

In [ ]:
train_val = pd.read_csv(Path("../data/STORE_1_train_val.csv"))
train_val.head()

       item_id  date_id  cnt  ... event_type_2  CASHBACK sell_price
0  STORE_1_727     1739    2  ...          NaN         1       3.33
1  STORE_1_090     1739   64  ...          NaN         1       1.38
2  STORE_1_252     1739    8  ...          NaN         1       1.58
3  STORE_1_586     1739   27  ...          NaN         1       1.68
4  STORE_1_065     1739    0  ...          NaN         1       3.54

[5 rows x 15 columns]

In [ ]:
train_val.date.min(), train_val.date.max(), len(train_val)

('2015-11-02', '2016-01-13', 1095)

In [ ]:
test = pd.read_csv(Path("../data/STORE_1_test.csv"))
test.head()

       item_id  date_id  cnt  ... event_type_2  CASHBACK sell_price
0  STORE_1_727     1812    4  ...          NaN         1       4.48
1  STORE_1_065     1812    1  ...          NaN         1       3.54
2  STORE_1_325     1812    8  ...          NaN         1       1.25
3  STORE_1_714     1812   13  ...          NaN         1       1.58
4  STORE_1_339     1812    4  ...          NaN         1       0.80

[5 rows x 15 columns]

In [ ]:
test.date.min(), test.date.max(), len(test)

('2016-01-14', '2016-01-21', 120)